#=================================================================#
# Archivos y carpetas de compilación C# (Rider / Visual Studio)   #
#=================================================================#
/[Oo]bj/
/[Bb]in/

#=================================================================#
# Archivos de Debug                                               #
#=================================================================#
*.pdb
*.exe # Generalmente no necesarios en el repo del mod fuente

#=================================================================#
# Archivos específicos del IDE (Rider / Visual Studio)            #
#=================================================================#
.idea/
.vs/ # Carpeta oculta de Visual Studio
*.suo
*.user
*.sln.dotsettings.user
*.csproj.user

#=================================================================#
# Archivos generados por el Sistema Operativo                     #
#=================================================================#
Thumbs.db
.DS_Store

#=================================================================#
# Logs y otros                                                    #
#=================================================================#
*.log

#=================================================================#
# Paquetes (Si usas una carpeta local, descomentar)               #
#=================================================================#
# /[Pp]ackages/

#=================================================================#
# ¡¡¡Añade aquí CUALQUIER OTRO archivo específico que           !!!#
# ¡¡¡quieras ignorar y que subiste por error!!!                   #
#=================================================================#
# Ejemplo:
# mi_configuracion_secreta.xml
# Notas_personales.txt